Repository WilliamKarolDiCioccio/saturn: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-prettier, docs-eslint, dart-format-app, flutter-analyze-app, dart-format-packages, flutter-analyze-packages, dart-format-tools

.pre-commit-config.yaml:

repos:
  # Pre-commit hooks for general code hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        files: ^scripts/
        args: [--fix] # Automatically fix issues
      - id: ruff-format
        files: ^scripts/

  # Prettier and ESLint for Astro + React documentation site
  - repo: local
    hooks:
      - id: docs-prettier
        name: Prettier (docs)
        entry: bash -c "cd docs && npm run prettier --if-present -- --write ."
        language: system
        files: ^docs/
      - id: docs-eslint
        name: ESLint (docs)
        entry: bash -c "cd docs && npm run lint --if-present -- --ext .js,.jsx,.ts,.tsx,.astro . --fix"
        language: system
        files: ^docs/
        pass_filenames: false

  # Clang-format and Clang-tidy for C/C++ code
  - repo: https://github.com/cpp-linter/cpp-linter-hooks
    rev: v1.1.11
    hooks:
      - id: clang-format
        files: ^(mosaic|testbed|pieces|codex|docsgen)/
        args: [--style=file, -i]

  # Dart and Flutter hooks
  - repo: local
    hooks:
      - id: dart-format-app
        name: Dart Format (editor/app)
        entry: bash -c "cd editor/app && dart format --fix ."
        language: system
        files: ^editor/app/.*\.(dart|yaml|json)$
        pass_filenames: false
      - id: flutter-analyze-app
        name: Flutter Analyze (editor/app)
        entry: bash -c "cd editor/app && fvm flutter analyze"
        language: system
        files: ^editor/app/.*\.(dart|yaml|json)$
        pass_filenames: false
      - id: dart-format-packages
        name: Dart Format (editor/packages)
        entry: bash -c "cd editor/packages && dart format --fix ."
        language: system
        files: ^editor/packages/.*\.(dart|yaml|json)$
        pass_filenames: false
      - id: flutter-analyze-packages
        name: Flutter Analyze (editor/packages)
        entry: bash -c "cd editor/packages && fvm flutter analyze"
        language: system
        files: ^editor/packages/.*\.(dart|yaml|json)$
        pass_filenames: false
      - id: dart-format-tools
        name: Dart Format (editor/tools)
        entry: bash -c "cd editor/tools && dart format --fix ."
        language: system
        files: ^editor/tools/.*\.(dart|yaml|json)$
        pass_filenames: false

docs: added project scaffolding explanation and guidelines
  docs/.gitignore
  docs/astro.config.mjs
  docs/src/assets/mmds/dependency_hierarchy_dark.svg
  docs/src/assets/mmds/dependency_hierarchy_light.svg
  docs/src/content/docs/collaborator/project_scaffolding.mdx
  docs/src/content/docs/index.mdx
  docs/src/mmds/dependency_hierarchy.mmd
  docs/tsconfig.json
Due: docs-prettier, docs-eslint

chore: add .gitignore file for editor to exclude unnecessary files
  editor/.gitignore
Due: none

chore: add .fvmrc and settings.json for Flutter SDK configuration
  editor/.fvmrc
  editor/.vscode/settings.json
Due: none

build: setup melos workspace for editor
  editor/app/pubspec.lock
  editor/app/pubspec.yaml
  editor/pubspec.lock
  editor/pubspec.yaml
Due: dart-format-app, flutter-analyze-app

chore: add project.fig for branding assets
  .gitattributes
  branding/project.fig
Due: none

docs: dropped ShadCN UI plugin in favor of custom styling
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/styles/global.css
Due: docs-prettier, docs-eslint

chore: replace all references to 'Mosaic' with 'Saturn' in docs
  .github/workflows/deploy_docs.yml
  docs/CLAUDE.md
  docs/DOCS_STYLE_GUIDE.md
  docs/astro.config.mjs
  docs/public/robots.txt
  docs/src/assets/mmds/dependency_hierarchy_dark.svg
  docs/src/assets/mmds/dependency_hierarchy_light.svg
  docs/src/assets/svgs/logo.svg
  docs/src/assets/svgs/logotype.svg
  docs/src/components/CustomHero.astro
  docs/src/content/docs/collaborator/build_instructions.mdx
  docs/src/content/docs/collaborator/cpp_conventions.mdx
  docs/src/content/docs/collaborator/environment_setup.mdx
  docs/src/content/docs/collaborator/gh_repo_conventions.mdx
  docs/src/content/docs/collaborator/project_scaffolding.mdx
  docs/src/content/docs/engineering/abi_safety.mdx
  docs/src/content/docs/engineering/compilation_times_optimization.mdx
  docs/src/content/docs/engineering/memory_safety.mdx
  docs/src/content/docs/engineering/pimpl_idiom.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/intro/license.mdx
  docs/src/content/docs/intro/overview.mdx
  docs/src/content/docs/user/getting_started.mdx
  docs/src/mmds/dependency_hierarchy.mmd
Due: docs-prettier, docs-eslint

fix: unresolved identifier for WGPUQueueWorkDoneStatus_InstanceDropped in latest WebGPU version
  mosaic/src/graphics/WebGPU/webgpu_render_context.cpp
Due: none

fix: repalced outdated API call in saturn bench
  saturn/bench/ecs_bench.cpp
Due: none

fix: add Puppeteer installation step in deploy workflow
  .github/workflows/deploy_docs.yml
Due: none

fix: replaced Astro's Image with default img to avoid pre-processing failures
  docs/src/components/CustomHero.astro
Due: docs-prettier, docs-eslint

chore: add pnpm workspace configuration for ignored and only built dependencies
  docs/pnpm-workspace.yaml
Due: docs-prettier, docs-eslint

fix: moved branding SVG assets to public folder in docs to avoid Astro image pre-processing issues (cause unknown)
  docs/public/logo.svg
  docs/public/logotype.svg
  docs/src/components/CustomHero.astro
Due: docs-prettier, docs-eslint

chore: added logotype to README.md
  .github/images/logotype.svg
  README.md
Due: none

fix: stopped tracking SVGs with git LFS to prevent rendering issues
  .gitattributes
  .github/images/logotype.svg
  README.md
  docs/public/favicon.svg
  docs/public/logo.svg
  docs/public/logotype.svg
  docs/src/assets/mmds/dependency_hierarchy_dark.svg
  docs/src/assets/mmds/dependency_hierarchy_light.svg
Due: docs-prettier, docs-eslint

fix: logotype failing to render
  README.md
Due: none

fix: use raw gh content links and fix thins once and for all
  docs/src/components/CustomHero.astro
Due: docs-prettier, docs-eslint

chore: add back tagline in docs landing page
  docs/src/components/CustomHero.astro
Due: docs-prettier, docs-eslint
